[package]
description = "Katana storage provider"
edition.workspace = true
name = "katana-provider"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
katana-chain-spec = { workspace = true, optional = true }
katana-db = { workspace = true, features = [ "test-utils" ] }
katana-fork.workspace = true
katana-primitives.workspace = true
katana-genesis.workspace = true
katana-provider-api.workspace = true
katana-rpc-client.workspace = true
katana-trie.workspace = true

anyhow.workspace = true
assert_matches.workspace = true
auto_impl.workspace = true
bitvec.workspace = true
lazy_static.workspace = true
parking_lot.workspace = true
starknet.workspace = true
starknet-types-core.workspace = true
thiserror.workspace = true
tracing.workspace = true

# fork provider deps
futures.workspace = true
tokio.workspace = true
katana-rpc-types.workspace = true

alloy-primitives = { workspace = true, optional = true }
serde_json.workspace = true

[features]
test-utils = [ "dep:alloy-primitives", "dep:katana-chain-spec" ]

[dev-dependencies]
katana-chain-spec.workspace = true
katana-contracts.workspace = true
katana-runner.workspace = true

alloy-primitives.workspace = true
lazy_static.workspace = true
rand.workspace = true
rstest.workspace = true
rstest_reuse.workspace = true
serde_json.workspace = true
starknet.workspace = true
tempfile.workspace = true
tokio.workspace = true
url.workspace = true
