KATANA_RPC_URL=

SEPOLIA_RPC_URL=
SEPOLIA_ACCOUNT_PRIVATE_KEY=
SEPOLIA_ACCOUNT_ADDRESS=

MAINNET_RPC_URL=
MAINNET_ACCOUNT_PRIVATE_KEY=
MAINNET_ACCOUNT_ADDRESS=

#Seed 0
DEVNET_SEED=0
DEVNET_PORT=5050
DEVNET_ACCOUNT_ADDRESS=
DEVNET_ACCOUNT_PRIVATE_KEY=

# SP1 Address & Private key 
NETWORK_ADDRESS=
NETWORK_PRIVATE_KEY=
# Katana TEE Connection Settings
TEE_HOST=
TEE_SSH_PORT=22
TEE_SSH_USER=ubuntu
TEE_SSH_KEY=~/.ssh/id_rsa
VM_SSH_PORT=2224
VM_SSH_PASSWORD=ubuntu123
RPC_PORT=5050
