[package]
description = "Procedural macros for katana-primitives"
edition.workspace = true
name = "katana-primitives-macro"
version.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn = { workspace = true, features = ["parsing", "proc-macro"] }

starknet-types-core.workspace = true
