[package]
name = "katana-contracts-macro"
version = "1.7.0-alpha.2"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full", "extra-traits"] }
serde_json = "1.0"

# Dependencies for contract class parsing and hash computation
katana-primitives = { path = "../../primitives" }
cairo-lang-starknet-classes = "2.11.2"
starknet-crypto = "0.7.4"
starknet-types-core = "0.1.8"
