[package]
name = "katana-tee"
description = "TEE (Trusted Execution Environment) support for Katana"
edition.workspace = true
version.workspace = true

[dependencies]
thiserror.workspace = true
tracing.workspace = true
uuid.workspace = true

[dev-dependencies]
rstest.workspace = true
tempfile.workspace = true

[features]
default = []
mock = []
