[package]
description = "Katana RPC APIs"
edition.workspace = true
name = "katana-rpc-api"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
katana-paymaster = { workspace = true, optional = true }
katana-pool-api.workspace = true
katana-primitives.workspace = true
katana-provider-api.workspace = true
katana-rpc-types.workspace = true

anyhow.workspace = true
jsonrpsee = { workspace = true, features = [ "macros", "server" ] }
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true

[dev-dependencies]
rstest.workspace = true

[features]
cartridge = []
client = ["jsonrpsee/client"]
paymaster = ["dep:katana-paymaster"]
tee = []
